.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.header-ul{
  margin-right: 50px;
}

.header-left {
  font-weight: bold;
  padding: 20px 30px;
  color: #333;
  font-size: 2rem;
  margin-right: auto;
  margin-left: 20px;
}

a {
  text-decoration: none;
  border-bottom: none;
}

nav {
  margin-left: 120px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ccc;
}
