.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.header {
  grid-row: 1;
}

.main-section {
  grid-row: 2;
}

.project {
  grid-row: 3;
}
