html{
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

.header {
  grid-row: 1;
}

.main-section {
  grid-row: 2;
}

.project {
  grid-row: 3;
}
